.top-wrap {
  padding: 20px 15px;
  // border-bottom: 1px solid #999;
  box-shadow: 0px 2px 6px #888888;

  .info-wrap {
    display: flex;
    justify-content: flex-start;

    .avatar {
      display: block;
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }

    .txt-wrap {
      padding-top: 8px;
      padding-left: 20px;

      .name {
        font-size: 14px;
        color: #333;
      }

      .lv {
        margin-top: 10px;
        font-size: 13px;
        color: #666;

        span {
          color: #ff8000;
        }
      }
    }
  }

  .intro {
    margin-top: 14px;
    font-size: 14px;
    color: #666;
  }
}

.list-wrap {
  margin-top: 10px;
  padding: 0 20px;

  .list {
    li {
      a {
        display: block;
        height: 60px;
        line-height: 60px;
        font-size: 18px;
        color: #666;
        border-bottom: 1px solid #999;
      }
    }
  }
}