.navbar{
  display: flex;
  justify-content: space-between;
  width: 375px;
  height: 40px;
  font-size: 14px;
  background: #abcdef;
  line-height: 40px;
  padding: 0 30px;
  .txt{
    color: #333;
  }
  .num{
    color: #ff0000;
  }
}
